body {
  background-color: white;
  color: grey;
  font-family: 'Montserrat'
}

a {
  text-decoration: none;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  height: 95%;
}

.footer {
  height: 5%;
}

.loading1 {
  margin-bottom: 5px; 
}

.loading2 {
  margin-top: 5px;
  margin-bottom: 20;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.footer-side {
  display: flex;
  align-items: center;
}

.home {
  max-width: 30px;
}

/* CSS TRANSITIONS */ 
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}