body {
  background-color: #DAE2E8;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 52px;
  color: #1E555C;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.root-item {
  text-align: center;
}

.root-input {
  width: 60%;
  height: 60px;
  font-size: 44px;
  border-radius: 10px;
  margin-bottom: 200px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

datalist {
  font-size: 40px;
}

.cities-list {
  display: flex;
  flex-wrap: wrap;
}

.cities-item {
  background-color: lightgray;
  width: 33%;
  height: 20vh;
}

ul {
  list-style-type: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

.neighborhoods-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* .neighborhoods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .neighborhoods-item {
  width: 24.5%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
} */

.criteria-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

 .criteria-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
} 

.criteria-input {
  width: 60%;
  height: 60px;
  font-size: 44px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.root-submit-button {
  border: 0px;
  height: 37px;
  width: 37px;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: burlywood;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.root-form {
  margin: 0px;
  padding: 0px;
  display: flex;
}


.results-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.top-result-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  color: #565353;
  margin: 20px 0px;
}

.secondary-results-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  color: #565353;
}

.secondary-results-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

hr {
  border: 2.5px solid lightgray;
  width: 98%;
}

.secondary-results-content {
  padding: 20px;
}



/* CSS TRANSITIONS */

/* LANDING PAGE */
 
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}